.card-item {
  display: inline-block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 12px;
  color: #3c4043;
  font-weight: 500;
  height: fit-content;
  background-color: #ffffff;
  transition: .2s;
  margin: 10px;
  box-shadow: 0 0 12px rgb(0 0 0 / 10%);

  .card-footer {
    padding-top: 8px;
    display: flex;
    justify-content: center;
  }

  &:hover, &:focus {
    cursor: pointer;
  }
}


.card-item {
  .card-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .01428571em;
    font-family: 'Roboto', Arial, sans-serif;
    margin-bottom: 8px;
  }

  .card-content {
    margin: 0;
    // height: max-content;
    letter-spacing: .01428571em;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #202124;
  }

  .card-footer {

  }
}


.colors-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0 8px;

  .color-tile {
    border: 1px solid #e6e6e6;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
  }
}

.text-input {
  font-size: 20px;
  font-weight: 500;
  outline: none;
  border: none;
  background: inherit;
  width: -webkit-fill-available;

  &::placeholder {
    font-size: 20px;
    font-weight: 500;
  }
}

.content-input {
  outline: none;
  width: -webkit-fill-available;
  border: none;
  resize: none;
  background: inherit;
}
