<div class="card-item" [ngStyle]="{'margin': detail ? '0' : '10px', 'background-color': note.color, 'border-color': note.color }">
  <ng-container *ngIf="detail; else readTemplate">
    <div class="card-header">
      <form [formGroup]="postForm">
        <textarea matInput cdkTextareaAutosize formControlName="title" autocomplete="off" placeholder="Title" class="content-input text-input" cols="100"></textarea>
        <textarea matInput cdkTextareaAutosize formControlName="content" autocomplete="off" placeholder="Take a note..." class="content-input" cols="100"></textarea>
      </form>
    </div>
    <p *ngIf="note.is_edited" cstyle="text-align: end">Updated {{ note.updated_at | timeSince }} ago</p>
  </ng-container>

  <ng-template #readTemplate>
    <div class="card-header">
      <button mat-icon-button class="toggle-pin-btn" (click)="togglePinned()">
        <mat-icon style="color: #212324" *ngIf="note.is_pinned">bookmark</mat-icon>
        <mat-icon style="color: #212324" *ngIf="!note.is_pinned">bookmark_border</mat-icon>
      </button>

      <div class="card-title" (click)="openDialog(note)" [ngStyle]="{'font-size': detail ? '24px' : '20px'}">
        {{ note.title }}
      </div>

      <div class="card-content" (click)="openDialog(note)">
        <ng-container *ngIf="note.content.length > 500; else contentTemplate">
          {{ note.content | slice: 0:500 }} ...
        </ng-container>
        <ng-template #contentTemplate>
          {{ note.content }}
        </ng-template>
      </div>
    </div>
  </ng-template>

  <div class="card-labels" *ngIf="note.labels">
    <mat-chip-list *ngFor="let label of note.labels">
      <a [routerLink]="[ 'labels', label.name ]" style="cursor:pointer">
        <mat-chip>{{ label.name }}</mat-chip>
      </a>
    </mat-chip-list>
  </div>

  <div class="card-footer">
    <button mat-icon-button [matMenuTriggerFor]="formatColor"><mat-icon style="color: #212324">format_color_fill</mat-icon></button>
    <mat-menu #formatColor="matMenu" xPosition="after">
      <div class="colors-section" *ngIf="colors && colors.length > 0">
        <ng-container *ngFor="let color of colors">
          <button mat-icon-button (click)="changeColor(note.id, color)">
            <div class="color-tile" [ngStyle]="{'background-color': color }">
              <mat-icon class="checked-icon" *ngIf="note.color.toLowerCase() === color.toLowerCase()">done</mat-icon>
            </div>
          </button>
        </ng-container>
      </div>
    </mat-menu>

    <button mat-icon-button (click)="archive()">
      <mat-icon style="color: #212324" *ngIf="note.is_archived">unarchive</mat-icon>
      <mat-icon style="color: #212324" *ngIf="!note.is_archived">archive</mat-icon>
    </button>

    <button mat-icon-button><mat-icon style="color: #212324">group_add</mat-icon></button>
    <button mat-icon-button (click)="delete()"><mat-icon style="color: #212324">delete</mat-icon></button>
    <!-- <button mat-icon-button><mat-icon style="color: #212324">more_vert</mat-icon></button> -->
  </div>
</div>
