.sidebar {
  border: 1px solid #e6e6e6;
  width: inherit;
  height: 60px;
  display: none;
  position: fixed;

  @media (min-width: 1280px) {
    height: calc(100vh - 66px);
    float: left;
    width: 280px;
    display: block;
    margin-top: 80px;
    // position: fixed;
    // top: -60px;
  }
}

.main {
  margin-left: 0;
  padding-top: 120px;

  @media (min-width: 1280px) {
    margin-left: 280px;
  }
}

.list-icon {
  padding-right: 10px;
  color: #707070;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 500;
}

.nav-link {
  font-size  : 1rem;
  color      : #232323;
  font-weight: 400;
  margin     : auto 0;

  &:hover, &:active,  &:focus {
    color: #2B32B2;
  }

  &:disabled {
    background-color: transparent;
  }
}

.active-link {
  color: #f44336;
  font-weight: bold;
}

.app-main {
  padding-top: 80px;
  min-height: calc(100vh - 80px);
}

.header {
  justify-content: space-between;
  // background-color: #FFFFFF;
  color: #ffffff;
  z-index: 14;
  position: fixed;
  height: 80px!important;
}

.unauth-header {
  justify-content: flex-end;
  gap: 16px;
  background-color: #FFFFFF;
  z-index: 14;
  position: fixed;
  height: 80px!important;
}

.bg-container {
  // background-color: #e6e6e6;
}

.container {
  min-height: calc(100vh - 56px);
  width: 100%;
  // overflow-x: hidden;
  // padding: 32px;
  // max-width: 720px;
  // margin: auto;
}


.search-bar {
  border: 1px solid #e9e9e9;
  background: #e9e9e9;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  display: flex;
  padding: 10px;

  .search-icon {
    padding: 4px 0 0 8px;
    color: #707070;
    font-size: 20px;
  }

  .search-input {
    outline: none;
    border: none;
    background: transparent;
    // padding: 8px 16px 8px 6px;
    width: 100%;
  }

  ::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-weight: 300;
  }

  @media only screen and (max-width: 720px) {
    display: none;
  }
}

.footer {
  padding: 10px 32px;
  font-weight: 300;
  font-size: 14px;
  color: #707070;
  text-align: center;
  margin-top: 72px;
  border-top: 1px solid #eeeeee;
}
