.card-grid {
  column-gap: 1rem;
  orphans: 1;
  widows: 1;
}

.grid-container {
  padding: 32px;
}

.grid-subtitle {
  color: #707070;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.custom-backdrop-class {
  background: rgba(0, 0, 0, 0.65);
}
