{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/notes-app/ang/styles.css' %}">
{% endblock stylesheets %}

{% block javascripts %}
  <script type="text/javascript" src="{% static 'frontend/notes-app/ang/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'frontend/notes-app/ang/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'frontend/notes-app/ang/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'frontend/notes-app/ang/main.js' %}"></script>
{% endblock javascripts %}
