.card-grid {
  column-gap: 1rem;
  orphans: 1;
  widows: 1;
}

.grid-container {
  padding: 32px;
}

.grid-subtitle {
  color: #707070;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.custom-backdrop-class {
  background: rgba(0, 0, 0, 0.65);
}

.create-note-section {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  height: max-content;
  transition: .2s;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  gap: 8px;

  .text-input {
    font-size: 20px;
    font-weight: 500;
    outline: none;
    border: none;
    width: -webkit-fill-available;

    &::placeholder {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.content-input {
  outline: none;
  width: -webkit-fill-available;
  border: none;
  resize: none;
}
